body{
	background:#fff;
	}
	
.text9 {
	font-size: 9pt;
	line-height: 16pt;
}
.text10 {
	font-size: 10pt;
}

a,tr,td,table {  font-size: 9pt;}
.fonts5 {  font-size: 5pt}

a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: none;
}
a:active {
	color: #CC0000;
	text-decoration: none;
}

.font9pt {font-size: 9pt;}
.font12 {font-size: 12px;}
.font9h14pt {font-size: 9pt;line-height: 14pt;}
.font12h18 {font-size: 12px;line-height: 18px;}
.noBorder {	border: 0px none;}
.border1solid {	border: 1px solid;}
.border1dotted {border: 1px dotted;}
.inputBorder1font12 {font-size: 12px;border: 1px solid;}
.font10h14pt {font-size: 10pt;line-height: 14px;}
.font11h14pt {font-size: 11pt;line-height: 14pt;}
.font10pt {	font-size: 10pt;}
.font11pt {	font-size: 10pt;}
.font10ptB {font-size: 10pt;	font-weight: bold;}
.font9ptB {	font-size: 9pt;	font-weight: bold;}
SELECT {FONT-SIZE: 12px;FONT-FAMILY: ו}
INPUT {FONT-SIZE: 12px;FONT-FAMILY: ו;border:1px solid;}


.txtLT{border-left: black 1px groove; border-top: black 1px groove;border-bottom: none; border-right:  none}
.txtLTR{ border-left:black 1px groove; border-top: black 1px groove;border-bottom: none; border-right: black 1px groove}
.txtLTB{ border-left:black 1px groove; border-top: black 1px groove; border-bottom: black 1px groove;border-right:  none}
.txtLTBR{border-left:black 1px groove; border-top: black 1px groove; border-bottom: black 1px groove; border-right: black 1px groove}
.txtNone{border-left:none; border-top: none; border-bottom: none; border-right: none}